@model FlashMoney.Models.OverviewModel

@{
    ViewData["Title"] = "Sponsor-Payment Page";
    ViewData["Header"] = " Sponsor Payment";
    Layout = "~/Views/Shared/_PaymentLayout.cshtml";

}

@section NAV{
    <div class="content">
        <ul>
            <li>
                <a asp-controller="Sponsors" asp-action="index">
                    <i class="icon">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.3">
                                <path d="M9 13.2002H15V19.2002H18V10.1767L12 5.69627L6 10.1767V19.2002H9V13.2002ZM3.98438 21.2002V9.20019L12 3.2002L20.0156 9.20019V21.2002H3.98438Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                    <span>Overview</span>
                </a>
            </li>
            <li>
                <a asp-controller="Sponsors" asp-action="Scholarship">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-album" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                            <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm3-6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z" />
                            <path fill-rule="evenodd" d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </i>
                    <span>Scholarship</span>
                </a>
            </li>
            <li>
                <a asp-controller="Sponsors" asp-action="Applicant">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                            <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                            <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </i>
                    <span>Applicant</span>
                </a>
            </li>
            <li>
                <a asp-controller="Sponsors" asp-action="Leaderboard">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" />
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                        </svg>
                    </i>
                    <span>Leaderboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Sponsors" asp-action="Settings">
                    <i class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.3">
                                <path d="M12.0003 8.00048C14.2094 8.00048 16.0003 9.79134 16.0003 12.0005C16.0003 14.2096 14.2094 16.0005 12.0003 16.0005C9.79115 16.0005 8.00029 14.2096 8.00029 12.0005C8.00029 9.79134 9.79115 8.00048 12.0003 8.00048ZM12.0003 10.0005C10.8957 10.0005 10.0003 10.8959 10.0003 12.0005C10.0003 13.1051 10.8957 14.0005 12.0003 14.0005C13.1049 14.0005 14.0003 13.1051 14.0003 12.0005C14.0003 10.8959 13.1049 10.0005 12.0003 10.0005ZM9.99967 21.9985C9.74967 21.9985 9.54369 21.8156 9.5057 21.5775L9.1307 18.9276C8.52169 18.6755 7.95667 18.3405 7.44068 17.9445L4.95166 18.9475C4.72569 19.0345 4.46367 18.9465 4.33969 18.7306L2.33969 15.2665C2.21469 15.0505 2.26966 14.7805 2.45769 14.6276L4.56969 12.9745L4.49968 11.9985L4.56969 11.0226L2.45769 9.36848C2.26966 9.21655 2.21469 8.94653 2.33969 8.73054L4.33969 5.26652C4.46367 5.05053 4.72569 4.96256 4.95166 5.04955L7.43968 6.05257C7.95567 5.65657 8.52067 5.32153 9.1307 5.06852L9.5057 2.4196C9.54369 2.18148 9.74967 1.99854 9.99967 1.99854L14.0009 2.00049C14.2509 2.00049 14.4569 2.18344 14.4949 2.42155L14.8699 5.07047C15.4799 5.32348 16.0449 5.65852 16.5609 6.05452L19.0489 5.05151C19.2749 4.96451 19.5369 5.05248 19.6609 5.26846L21.6609 8.73249C21.7859 8.94848 21.7309 9.2185 21.5429 9.37043L19.4309 11.0245L19.5009 12.0005L19.4309 12.9765L21.5429 14.6296C21.7309 14.7825 21.7859 15.0525 21.6609 15.2685L19.6609 18.7325C19.5369 18.9485 19.2749 19.0365 19.0489 18.9495L16.5599 17.9465C16.0439 18.3425 15.4789 18.6775 14.8699 18.9295L14.4949 21.5794C14.4569 21.8176 14.2509 22.0005 14.0009 22.0005L9.99967 21.9985ZM11.2503 4.0005L10.8843 6.61377C9.68292 6.86137 8.62463 7.50078 7.84895 8.39254L5.43814 7.35242L4.68814 8.65146L6.80101 10.2029C6.39926 11.3677 6.40005 12.6406 6.80337 13.8049L4.68493 15.3609L5.43493 16.6599L7.85559 15.6161C8.62862 16.5015 9.68077 17.137 10.8748 17.3853L11.2439 20.0174L12.7567 20.0194L13.1258 17.3872C14.3198 17.1389 15.372 16.5034 16.145 15.618L18.5657 16.6619L19.3157 15.3628L17.1972 13.8069C17.6005 12.6425 17.6013 11.3697 17.1996 10.2049L19.3124 8.65341L18.5624 7.35437L16.1516 8.39448C15.3759 7.50273 14.3177 6.86332 13.1163 6.61572L12.7503 4.00245L11.2503 4.0005Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>

                    </i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
}

<section class="content overview">
    <div class="card">
        <div class="content-area animated fadeInUp fast delay-1">
            <div class="card-container ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-wrapper">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-container">
                            <form>
                                <div>
                                    <label for="number">Email Address</label>
                                    <input placeholder="Email Address" id="Email2" type="text" name="number">
                                    <label for="name">Phone Number</label>
                                    <input placeholder="Phone Number" id="phonenumber2" type="text" name="name"><br>

                                    <div class="cardForm-Field50">
                                        <label for="expiry">Amount</label>
                                        <rb>
                                            <input id="amount2" name='AMOUNT' placeholder="Enter Amount" />
                                            @*<input value='&#8358;1,100.00' readonly type="text" name="expiry" class="secondRow">*@

                                    </div>
                                </div>

                            </form>
                            @*<button type="submit" onclick="payWithPaystackz()" class="button CardGood">Submit & Pay</button>*@
                            <input type="submit" onclick="payWithPaystackz2()" value="Submit & Pay" class="button CardGood">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script type="text/javascript">
    debugger
    function payWithPaystackz2() {
        debugger
        var amt2 = $('#amount2').val();
        var email2 = $('#Email2').val();
        //var city = $('#validationCustom03').val();
        var phoneNum2 = $('#phonenumber2').val();

        debugger
        if (amt2 == "") {
            alert("Please select ...")
        } else {
            var _email2 = email2;
            var _phoneNum2 = phoneNum2;
            //var _state = city;
            var amount2 = (parseInt(amt2)) * 100
            //alert(amount);
            var _amt2 = amount2;
            console.log("amt:" + _amt2);

            var handler = PaystackPop.setup({
                key: 'pk_test_1c6334e5776816a5db453229d982859bec47e0f2',
                email: _email2,
                amount: _amt2,
                phoneNum: _phoneNum2,
                //state: _state,
                currency: "NGN",
                ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                metadata: {
                    custom_fields: [
                        {
                            display_name: _email2,
                            variable_name: "mobile_number",
                            value: "+2348066778135"
                        }
                    ]
                },
                callback: function (response) {

                    var responseData = response.reference;
                    /**/
                    window.location.href = '/Student/ScholarshipPayConfirm?reference=' + responseData + '&Email=' + _email2 + '&phone=' + _phoneNum2;
                    /**/
                },
                onClose: function () {
                    alert('window closed');
                }
            });
            handler.openIframe();
        }
    }

</script>
@*@model FlashMoney.Models.OverviewModel

        @{
            ViewData["Title"] = "Sponsor-payment Page";
            ViewData["Header"] = "Sponsor Payment";
            Layout = "~/Views/Shared/_MainLayout.cshtml";
        }

        @section NAV{
            <div class="content">
                <ul>
                    <li class="active">
                        <a asp-controller="Sponsors" asp-action="index">
                            <i class="icon">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M9 13.2002H15V19.2002H18V10.1767L12 5.69627L6 10.1767V19.2002H9V13.2002ZM3.98438 21.2002V9.20019L12 3.2002L20.0156 9.20019V21.2002H3.98438Z"
                                              fill="#2F1343" />
                                    </g>
                                </svg>
                            </i>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Scholarship">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-album" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                                    <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm3-6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z" />
                                    <path fill-rule="evenodd" d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </i>
                            <span>Scholarship</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Applicant">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                                    <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                                    <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                            </i>
                            <span>Applicant</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Leaderboard">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" />
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                </svg>
                            </i>
                            <span>Leaderboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Settings">
                            <i class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M12.0003 8.00048C14.2094 8.00048 16.0003 9.79134 16.0003 12.0005C16.0003 14.2096 14.2094 16.0005 12.0003 16.0005C9.79115 16.0005 8.00029 14.2096 8.00029 12.0005C8.00029 9.79134 9.79115 8.00048 12.0003 8.00048ZM12.0003 10.0005C10.8957 10.0005 10.0003 10.8959 10.0003 12.0005C10.0003 13.1051 10.8957 14.0005 12.0003 14.0005C13.1049 14.0005 14.0003 13.1051 14.0003 12.0005C14.0003 10.8959 13.1049 10.0005 12.0003 10.0005ZM9.99967 21.9985C9.74967 21.9985 9.54369 21.8156 9.5057 21.5775L9.1307 18.9276C8.52169 18.6755 7.95667 18.3405 7.44068 17.9445L4.95166 18.9475C4.72569 19.0345 4.46367 18.9465 4.33969 18.7306L2.33969 15.2665C2.21469 15.0505 2.26966 14.7805 2.45769 14.6276L4.56969 12.9745L4.49968 11.9985L4.56969 11.0226L2.45769 9.36848C2.26966 9.21655 2.21469 8.94653 2.33969 8.73054L4.33969 5.26652C4.46367 5.05053 4.72569 4.96256 4.95166 5.04955L7.43968 6.05257C7.95567 5.65657 8.52067 5.32153 9.1307 5.06852L9.5057 2.4196C9.54369 2.18148 9.74967 1.99854 9.99967 1.99854L14.0009 2.00049C14.2509 2.00049 14.4569 2.18344 14.4949 2.42155L14.8699 5.07047C15.4799 5.32348 16.0449 5.65852 16.5609 6.05452L19.0489 5.05151C19.2749 4.96451 19.5369 5.05248 19.6609 5.26846L21.6609 8.73249C21.7859 8.94848 21.7309 9.2185 21.5429 9.37043L19.4309 11.0245L19.5009 12.0005L19.4309 12.9765L21.5429 14.6296C21.7309 14.7825 21.7859 15.0525 21.6609 15.2685L19.6609 18.7325C19.5369 18.9485 19.2749 19.0365 19.0489 18.9495L16.5599 17.9465C16.0439 18.3425 15.4789 18.6775 14.8699 18.9295L14.4949 21.5794C14.4569 21.8176 14.2509 22.0005 14.0009 22.0005L9.99967 21.9985ZM11.2503 4.0005L10.8843 6.61377C9.68292 6.86137 8.62463 7.50078 7.84895 8.39254L5.43814 7.35242L4.68814 8.65146L6.80101 10.2029C6.39926 11.3677 6.40005 12.6406 6.80337 13.8049L4.68493 15.3609L5.43493 16.6599L7.85559 15.6161C8.62862 16.5015 9.68077 17.137 10.8748 17.3853L11.2439 20.0174L12.7567 20.0194L13.1258 17.3872C14.3198 17.1389 15.372 16.5034 16.145 15.618L18.5657 16.6619L19.3157 15.3628L17.1972 13.8069C17.6005 12.6425 17.6013 11.3697 17.1996 10.2049L19.3124 8.65341L18.5624 7.35437L16.1516 8.39448C15.3759 7.50273 14.3177 6.86332 13.1163 6.61572L12.7503 4.00245L11.2503 4.0005Z"
                                              fill="#2F1343" />
                                    </g>
                                </svg>

                            </i>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        }

        <section class="content overview">
            <div class="card">
                <div class="content-area animated fadeInUp fast delay-1">
                    <div class="card-container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-wrapper">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                    <div>
                                        <label for="number">Email Address</label>
                                        <input placeholder="Email Address" id="Email2" type="text" name="number">
                                        <label for="name">Phone Number</label>
                                        <input placeholder="Phone Number" id="phonenumber2" type="text" name="name"><br>

                                        <div class="cardForm-Field50">
                                            <label for="expiry">Amount</label>
                                            <rb>
                                                <input type="hidden" id="amount2" name='AMOUNT'  />
                                                <input value='&#8358;1,100.00' readonly type="text" name="expiry" class="secondRow">
                                        </div>
                                        <div class="cardForm-Field50">
                                            <label for="cvc">State</label><br>
                                            <select type="text" name="cvc" class="form-control form-control-lg" id="validationCustom02">
                                                <option value="">Choose... </option>
                                                <option value='1'>Abia</option>
                                                <option value='2'>Adamawa</option>
                                                <option value="3">Akwa Ibom</option>
                                                <option value="Anambra">Anambra</option>
                                                <option value="Bauchi">Bauchi</option>
                                                <option value="Bayelsa">Bayelsa</option>
                                                <option value="Benue">Benue</option>
                                                <option value="Borno">Borno</option>
                                                <option value="Cross River">Cross River</option>
                                                <option value="Delta">Delta</option>
                                                <option value="Ebonyi">Ebonyi</option>
                                                <option value="Enugu">Enugu</option>
                                                <option value="Edo">Edo</option>
                                                <option value="Ekiti">Ekiti</option>
                                                <option value="Gombe">Gombe</option>
                                                <option value="Imo">Imo</option>
                                                <option value="Jigawa">Jigawa</option>
                                                <option value="Kaduna">Kaduna</option>
                                                <option value="Kano">Kano</option>
                                                <option value="Katsina">Katsina</option>
                                                <option value="Kebbi">Kebbi</option>
                                                <option value="Kogi">Kogi</option>
                                                <option value="Kwara">Kwara</option>
                                                <option value="Lagos">Lagos</option>
                                                <option value="Nasarawa">Nasarawa</option>
                                                <option value="Niger">Niger</option>
                                                <option value="Ogun">Ogun</option>
                                                <option value="Ondo">Ondo</option>
                                                <option value="Osun">Osun</option>
                                                <option value="Oyo">Oyo</option>
                                                <option value="Plateau">Plateau</option>
                                                <option value="Rivers">Rivers</option>
                                                <option value="Sokoto">Sokoto</option>
                                                <option value="Taraba">Taraba</option>
                                                <option value="Yobe">Yobe</option>
                                                <option value="Zamfara">Zamfara</option>
                                            </select>
                                        </div>
                                         Button Pay
                                        <button type="submit" onclick="payWithPaystackz()" class="button CardGood">Submit & Pay</button>
                                        <input type="submit" onclick="payWithPaystackz2()" value="Submit & Pay" class="button CardGood">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script type="text/javascript">
            debugger
            function payWithPaystackz2() {
                debugger
                var amt = $('#amount2').val();
                var email = $('#Email2').val();
                var city = $('#validationCustom02').val();
                var phoneNum = $('#phonenumber2').val();

                debugger
                if (amt == "") {
                    alert("Please select ...")
                } else {
                    var _email = email;
                    var _phoneNum = phoneNum;
                    var _state = city;
                    var amount = (parseInt(amt)) * 100
                    //alert(amount);
                    var _amt = amount;
                    console.log("amt:" + _amt);

                    var handler = PaystackPop.setup({
                        key: 'pk_test_1c6334e5776816a5db453229d982859bec47e0f2',
                        email: _email,
                        amount: _amt,
                        phoneNum: _phoneNum,
                        state: _state,
                        currency: "NGN",
                        ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                        metadata: {
                            custom_fields: [
                                {
                                    display_name: _email,
                                    variable_name: "mobile_number",
                                    value: "+2348066778135"
                                }
                            ]
                        },
                        callback: function (response) {

                            var responseData = response.reference;
                            /**/
                            window.location.href = '/Student/ScholarshipPayConfirm?reference=' + responseData + '&Email=' + _email + '&phone=' + _phoneNum;
                            /**/
                        },
                        onClose: function () {
                            alert('window closed');
                        }
                    });
                    handler.openIframe();
                }
            }

        </script>
    @{

            Layout = null;
    }
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Education access - Subscribe</title>

        <link rel="shortcut icon" href="~/assets/img/png/fav-icon.png" type="image/x-icon" />

        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="~/assets/components/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="~/assets/components/animate/animate.css" />
        <link rel="stylesheet" href="~/assets/components/loadawesome/loaders.css" />
        <link rel="stylesheet" href="~/assets/css/style.min.css" />
        <link rel="stylesheet" href="~/assets/css/msg.css" />

    </head>

    <body class="page admin">
        <nav class="sidebar">
            <div class="logo">
                <img src="~/assets/img/svg/logo-icon.png" />
            </div>
            <div class="content">
                <ul>
                    <li class="active">
                        <a asp-controller="Sponsors" asp-action="index">
                            <i class="icon">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M9 13.2002H15V19.2002H18V10.1767L12 5.69627L6 10.1767V19.2002H9V13.2002ZM3.98438 21.2002V9.20019L12 3.2002L20.0156 9.20019V21.2002H3.98438Z"
                                              fill="#2F1343" />
                                    </g>
                                </svg>
                            </i>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Scholarship">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-album" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                                    <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm3-6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z" />
                                    <path fill-rule="evenodd" d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </i>
                            <span>Scholarship</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Applicant">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                                    <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                                    <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                            </i>
                            <span>Applicant</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Leaderboard">
                            <i class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" />
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                </svg>
                            </i>
                            <span>Leaderboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Sponsors" asp-action="Settings">
                            <i class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M12.0003 8.00048C14.2094 8.00048 16.0003 9.79134 16.0003 12.0005C16.0003 14.2096 14.2094 16.0005 12.0003 16.0005C9.79115 16.0005 8.00029 14.2096 8.00029 12.0005C8.00029 9.79134 9.79115 8.00048 12.0003 8.00048ZM12.0003 10.0005C10.8957 10.0005 10.0003 10.8959 10.0003 12.0005C10.0003 13.1051 10.8957 14.0005 12.0003 14.0005C13.1049 14.0005 14.0003 13.1051 14.0003 12.0005C14.0003 10.8959 13.1049 10.0005 12.0003 10.0005ZM9.99967 21.9985C9.74967 21.9985 9.54369 21.8156 9.5057 21.5775L9.1307 18.9276C8.52169 18.6755 7.95667 18.3405 7.44068 17.9445L4.95166 18.9475C4.72569 19.0345 4.46367 18.9465 4.33969 18.7306L2.33969 15.2665C2.21469 15.0505 2.26966 14.7805 2.45769 14.6276L4.56969 12.9745L4.49968 11.9985L4.56969 11.0226L2.45769 9.36848C2.26966 9.21655 2.21469 8.94653 2.33969 8.73054L4.33969 5.26652C4.46367 5.05053 4.72569 4.96256 4.95166 5.04955L7.43968 6.05257C7.95567 5.65657 8.52067 5.32153 9.1307 5.06852L9.5057 2.4196C9.54369 2.18148 9.74967 1.99854 9.99967 1.99854L14.0009 2.00049C14.2509 2.00049 14.4569 2.18344 14.4949 2.42155L14.8699 5.07047C15.4799 5.32348 16.0449 5.65852 16.5609 6.05452L19.0489 5.05151C19.2749 4.96451 19.5369 5.05248 19.6609 5.26846L21.6609 8.73249C21.7859 8.94848 21.7309 9.2185 21.5429 9.37043L19.4309 11.0245L19.5009 12.0005L19.4309 12.9765L21.5429 14.6296C21.7309 14.7825 21.7859 15.0525 21.6609 15.2685L19.6609 18.7325C19.5369 18.9485 19.2749 19.0365 19.0489 18.9495L16.5599 17.9465C16.0439 18.3425 15.4789 18.6775 14.8699 18.9295L14.4949 21.5794C14.4569 21.8176 14.2509 22.0005 14.0009 22.0005L9.99967 21.9985ZM11.2503 4.0005L10.8843 6.61377C9.68292 6.86137 8.62463 7.50078 7.84895 8.39254L5.43814 7.35242L4.68814 8.65146L6.80101 10.2029C6.39926 11.3677 6.40005 12.6406 6.80337 13.8049L4.68493 15.3609L5.43493 16.6599L7.85559 15.6161C8.62862 16.5015 9.68077 17.137 10.8748 17.3853L11.2439 20.0174L12.7567 20.0194L13.1258 17.3872C14.3198 17.1389 15.372 16.5034 16.145 15.618L18.5657 16.6619L19.3157 15.3628L17.1972 13.8069C17.6005 12.6425 17.6013 11.3697 17.1996 10.2049L19.3124 8.65341L18.5624 7.35437L16.1516 8.39448C15.3759 7.50273 14.3177 6.86332 13.1163 6.61572L12.7503 4.00245L11.2503 4.0005Z"
                                              fill="#2F1343" />
                                    </g>
                                </svg>

                            </i>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="main">
            <header class="header animated fadeInDown fast">
                <div class="left">
                    <a href="#" class="icon open-trigger">
                        <i class="icon auto">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0H15.5V1.66667H0.5V0ZM0.5 4.16667H15.5V5.83333H0.5V4.16667ZM0.5 8.33333H15.5V10H0.5V8.33333Z"
                                      fill="#101010" />
                            </svg>
                        </i>
                    </a>
                    <h2>Subscribe</h2>
                </div>
                <div class="right">

                    <div class="action dropdown">
                        <a class="btn dropdown-toggle" id="profile-menu" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="~/assets/img/png/raph.png" height="30" />
                            <p>
                                <strong>Ogunkunle Rahmon</strong>
                                <span>raymondklein49@gmail.com</span>
                            </p>
                            <i class="icon">
                                <svg width="14" height="4" viewBox="0 0 14 4" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.334 1.99992C10.334 1.07942 11.0801 0.333252 12.0007 0.333252C12.9212 0.333252 13.6673 1.07942 13.6673 1.99992C13.6673 2.92042 12.9212 3.66658 12.0007 3.66658C11.0801 3.66658 10.334 2.92042 10.334 1.99992ZM5.33398 1.99992C5.33398 1.07942 6.08015 0.333252 7.00065 0.333252C7.92115 0.333252 8.66732 1.07942 8.66732 1.99992C8.66732 2.92042 7.92115 3.66658 7.00065 3.66658C6.08015 3.66658 5.33398 2.92042 5.33398 1.99992ZM0.333984 1.99992C0.333984 1.07942 1.08018 0.333252 2.00065 0.333252C2.92113 0.333252 3.66732 1.07942 3.66732 1.99992C3.66732 2.92042 2.92113 3.66658 2.00065 3.66658C1.08018 3.66658 0.333984 2.92042 0.333984 1.99992Z"
                                          fill="#101010" />
                                </svg>

                            </i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-menu">
                            <a class="dropdown-item" href="~/settings.html">
                                <i class="icon">
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.083 8.12492L14.2497 8.95825L12.5413 7.24992L13.3747 6.41659C13.5529 6.24192 13.8381 6.24192 14.0163 6.41659L15.083 7.48325C15.2577 7.6615 15.2577 7.94667 15.083 8.12492ZM6.99967 12.7833L12.0497 7.73325L13.758 9.44159L8.71634 14.4999H6.99967V12.7833ZM6.99967 8.66658C3.31634 8.66658 0.333008 10.1583 0.333008 11.9999V13.6666H5.33301V12.0916L8.66634 8.75825C8.11367 8.68833 7.55667 8.65775 6.99967 8.66658ZM6.99967 0.333252C5.15872 0.333252 3.66634 1.82567 3.66634 3.66659C3.66634 5.5075 5.15872 6.99992 6.99967 6.99992C8.84059 6.99992 10.333 5.5075 10.333 3.66659C10.333 1.82567 8.84059 0.333252 6.99967 0.333252Z"
                                              fill="#101010" />
                                    </svg>
                                </i>
                                <span>Edit Profile</span>
                            </a>
                            <a class="dropdown-item logout" href="~/index.html">
                                <i class="icon">
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.7997 2.53332L9.59134 3.74166C11.033 4.61666 11.9997 6.19166 11.9997 7.99999C11.9997 10.7583 9.75801 13 6.99967 13C4.24134 13 1.99967 10.7583 1.99967 7.99999C1.99967 6.19166 2.96634 4.61666 4.39967 3.73333L3.19967 2.53332C1.46634 3.73333 0.333008 5.73333 0.333008 7.99999C0.333008 11.6833 3.31634 14.6667 6.99967 14.6667C10.683 14.6667 13.6663 11.6833 13.6663 7.99999C13.6663 5.73333 12.533 3.73333 10.7997 2.53332ZM7.83301 0.5H6.16634V8.83333H7.83301"
                                              fill="#FF7070" />
                                    </svg>
                                </i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            <section class="content overview">
                <div class="card">
                    <div class="content-area animated fadeInUp fast delay-1">
                        <div class="card-container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-wrapper"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-container">
                                        <form>
                                            <div>
                                                <label for="number">Email Address</label>
                                                <input placeholder="Email Address" id="Email2" type="text" name="number">
                                                <label for="name">Phone Number</label>
                                                <input placeholder="Phone Number" id="phonenumber2" type="text" name="name"><br>

                                                <div class="cardForm-Field50">
                                                    <label for="expiry">Amount</label>
                                                    <rb>
                                                        <input id="amount2" name='AMOUNT' placeholder="Enter Amount" />
                                                        <input value='&#8358;1,100.00' readonly type="text" name="expiry" class="secondRow">
                                                </div>
                                            </div>
                                                 Button Pay
                                        </form>
                                        <input type="submit" onclick="payWithPaystackz2()" value="Submit & Pay" class="button CardGood">
                                        <button type="submit" onclick="payWithPaystackz()" class="button CardGood">Submit & Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script src="~/assets/components/jquery/jquery.min.js"></script>
        <script src="~/assets/components/popper/popper.min.js"></script>
        <script src="~/assets/components/bootstrap/bootstrap.min.js"></script>
        <script src="~/assets/components/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/assets/js/scripts.min.js"></script>
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script type="text/javascript">
            debugger
            function payWithPaystackz2() {
                debugger
                var amt = $('#amount2').val();
                var email = $('#Email2').val();
                //var city = $('#validationCustom03').val();
                var phoneNum = $('#phonenumber2').val();

                debugger
                if (amt == "") {
                    alert("Please select ...")
                } else {
                    var _email = email;
                    var _phoneNum = phoneNum;
                    var _state = city;
                    var amount = (parseInt(amt)) * 100
                    //alert(amount);
                    var _amt = amount;
                    console.log("amt:" + _amt);

                    var handler = PaystackPop.setup({
                        key: 'pk_test_1c6334e5776816a5db453229d982859bec47e0f2',
                        email: _email,
                        amount: _amt,
                        phoneNum: _phoneNum,
                        state: _state,
                        currency: "NGN",
                        ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                        metadata: {
                            custom_fields: [
                                {
                                    display_name: _email,
                                    variable_name: "mobile_number",
                                    value: "+2348066778135"
                                }
                            ]
                        },
                        callback: function (response) {

                            var responseData = response.reference;
                            /**/
                            window.location.href = '/Student/ScholarshipPayConfirm?reference=' + responseData + '&Email=' + _email + '&phone=' + _phoneNum;
                            /**/
                        },
                        onClose: function () {
                            alert('window closed');
                        }
                    });
                    handler.openIframe();
                }
            }

        </script>
    </body>

    </html>*@
