@model FlashMoney.Models.OverviewModel

@{
    ViewData["Title"] = "Overview Page";
    ViewData["Header"] = "Education Overview";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section NAV{
    <div class="content">
        <ul>
            <li>
                <a asp-controller="Admin" asp-action="index">
                    <i class="icon">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.3">
                                <path d="M9 13.2002H15V19.2002H18V10.1767L12 5.69627L6 10.1767V19.2002H9V13.2002ZM3.98438 21.2002V9.20019L12 3.2002L20.0156 9.20019V21.2002H3.98438Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                    <span>Overview</span>
                </a>
            </li>
            <li  class="active">
                <a asp-controller="Admin" asp-action="student">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                            <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                            <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </i>
                    <span>Student</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Sponsor">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-badge" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v11.755S4 12 8 12s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                            <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </i>
                    <span>Sponsor</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Scholarship">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-album" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                            <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm3-6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z" />
                            <path fill-rule="evenodd" d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </i>
                    <span>Scholarship</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Subscription">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z" />
                            <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z" />
                            <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                        </svg>
                    </i>
                    <span>Subscription</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Leaderboard">
                    <i class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" />
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                        </svg>
                    </i>
                    <span>Leaderboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Settings">
                    <i class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.3">
                                <path d="M12.0003 8.00048C14.2094 8.00048 16.0003 9.79134 16.0003 12.0005C16.0003 14.2096 14.2094 16.0005 12.0003 16.0005C9.79115 16.0005 8.00029 14.2096 8.00029 12.0005C8.00029 9.79134 9.79115 8.00048 12.0003 8.00048ZM12.0003 10.0005C10.8957 10.0005 10.0003 10.8959 10.0003 12.0005C10.0003 13.1051 10.8957 14.0005 12.0003 14.0005C13.1049 14.0005 14.0003 13.1051 14.0003 12.0005C14.0003 10.8959 13.1049 10.0005 12.0003 10.0005ZM9.99967 21.9985C9.74967 21.9985 9.54369 21.8156 9.5057 21.5775L9.1307 18.9276C8.52169 18.6755 7.95667 18.3405 7.44068 17.9445L4.95166 18.9475C4.72569 19.0345 4.46367 18.9465 4.33969 18.7306L2.33969 15.2665C2.21469 15.0505 2.26966 14.7805 2.45769 14.6276L4.56969 12.9745L4.49968 11.9985L4.56969 11.0226L2.45769 9.36848C2.26966 9.21655 2.21469 8.94653 2.33969 8.73054L4.33969 5.26652C4.46367 5.05053 4.72569 4.96256 4.95166 5.04955L7.43968 6.05257C7.95567 5.65657 8.52067 5.32153 9.1307 5.06852L9.5057 2.4196C9.54369 2.18148 9.74967 1.99854 9.99967 1.99854L14.0009 2.00049C14.2509 2.00049 14.4569 2.18344 14.4949 2.42155L14.8699 5.07047C15.4799 5.32348 16.0449 5.65852 16.5609 6.05452L19.0489 5.05151C19.2749 4.96451 19.5369 5.05248 19.6609 5.26846L21.6609 8.73249C21.7859 8.94848 21.7309 9.2185 21.5429 9.37043L19.4309 11.0245L19.5009 12.0005L19.4309 12.9765L21.5429 14.6296C21.7309 14.7825 21.7859 15.0525 21.6609 15.2685L19.6609 18.7325C19.5369 18.9485 19.2749 19.0365 19.0489 18.9495L16.5599 17.9465C16.0439 18.3425 15.4789 18.6775 14.8699 18.9295L14.4949 21.5794C14.4569 21.8176 14.2509 22.0005 14.0009 22.0005L9.99967 21.9985ZM11.2503 4.0005L10.8843 6.61377C9.68292 6.86137 8.62463 7.50078 7.84895 8.39254L5.43814 7.35242L4.68814 8.65146L6.80101 10.2029C6.39926 11.3677 6.40005 12.6406 6.80337 13.8049L4.68493 15.3609L5.43493 16.6599L7.85559 15.6161C8.62862 16.5015 9.68077 17.137 10.8748 17.3853L11.2439 20.0174L12.7567 20.0194L13.1258 17.3872C14.3198 17.1389 15.372 16.5034 16.145 15.618L18.5657 16.6619L19.3157 15.3628L17.1972 13.8069C17.6005 12.6425 17.6013 11.3697 17.1996 10.2049L19.3124 8.65341L18.5624 7.35437L16.1516 8.39448C15.3759 7.50273 14.3177 6.86332 13.1163 6.61572L12.7503 4.00245L11.2503 4.0005Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>

                    </i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
}

<section class="content history">
    <div class="container">
        <div class="card animated fadeInUp fast delay-1">
            <div class="heading">
                <form class="search-bar">
                    <input type="search" id="search-box" placeholder="Search">
                    <a class="searchme">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </a>
                </form>
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle" id="fundtransfer-menu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Sort by:</span>
                        <strong>Registered date</strong>
                        <i class="icon auto arrow">
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4"
                                      d="M1.78119 0.218262L5.22069 3.65778L8.6602 0.218262L9.7207 1.27876L5.22069 5.77878L0.72069 1.27876L1.78119 0.218262Z"
                                      fill="white" />
                            </svg>
                        </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="fundtransfer-menu">
                        <a class="dropdown-item">Score</a>
                        <a class="dropdown-item">Gender</a>
                        <a class="dropdown-item">Approved Scholarship</a>
                        <a class="dropdown-item">Registered Date</a>
                    </div>
                </div>
            </div>
            <div class="flex-table">
                <div class="tr thead">
                    <div class="td x1_">S/N</div>
                    <div class="td x2_">Name</div>
                    <div class="td x1_">Gender</div>
                    <div class="td x2">Registered</div>
                    <div class="td x1">Approved Scholarship</div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>1</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">5</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>2</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">8</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>3</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">2</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>4</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">1</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>5</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">7</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td x1_">
                        <p>6</p>
                    </div>
                    <div class="td x2_">
                        <div class="avater">
                            <img class="round" src="./assets/img/png/raph.png" />
                            <p>
                                <strong class="ellipsis">Ogunkunle Rahmon</strong>
                                <span class="ellipsis">raymondklein49@gmail</span>
                            </p>
                        </div>
                    </div>
                    <div class="td x1_">
                        <strong class="amount credit">Male</strong>
                    </div>
                    <div class="td x2">
                        <p>4 Oct 2018, 1:30am</p>
                    </div>
                    <div class="td x1">
                        <span class="status red">9</span>
                    </div>
                    <div class="action">
                        <a class="btn btn-link" href="./Student-single.html">
                            <i class="icon auto">
                                <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.834 9.49992L7.83398 14.4999L6.65065 13.3166L9.64232 10.3333H0.333984V0.333252H2.00065V8.66658H9.64232L6.65065 5.68325L7.83398 4.49992L12.834 9.49992Z"
                                          fill="#5D2684" />
                                </svg>
                            </i>
                            <span>View Details</span>
                        </a>
                        <a class="btn btn-link" href="#editModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </i>
                            <span>Edit</span>
                        </a>
                        <a class="btn btn-link text-red" href="#delModal" data-toggle="modal">
                            <i class="icon auto">
                                <svg width="11" height="15" viewBox="0 0 11 15"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.777778 12.9444C0.777778 13.8 1.47778 14.5 2.33333 14.5H8.55556C9.41111 14.5 10.1111 13.8 10.1111 12.9444V3.61111H0.777778V12.9444ZM2.69111 7.40667L3.78778 6.31L5.44444 7.95889L7.09333 6.31L8.19 7.40667L6.54111 9.05556L8.19 10.7044L7.09333 11.8011L5.44444 10.1522L3.79556 11.8011L2.69889 10.7044L4.34778 9.05556L2.69111 7.40667ZM8.16667 1.27778L7.38889 0.5H3.5L2.72222 1.27778H0V2.83333H10.8889V1.27778H8.16667Z"
                                          fill="#FF7070" />
                                </svg>
                            </i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="icon auto">
                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.56055 1.06049L2.12103 4.49999L5.56055 7.9395L4.50005 9L2.6226e-05 4.49999L4.50005 -1.33514e-05L5.56055 1.06049Z"
                                      fill="#2F1343" />
                            </svg>

                        </i>
                        <span>Previous</span>
                    </a>
                </li>

                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>

                <li class="page-item">
                    <a class="page-link" href="#">
                        <span>Continue</span>
                        <i class="icon auto">
                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3"
                                      d="M0.00195312 7.93951L3.44147 4.50001L0.00195312 1.0605L1.06245 0L5.56247 4.50001L1.06245 9.00001L0.00195312 7.93951Z"
                                      fill="#2F1343" />
                            </svg>

                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Modal HTML -->
<div id="delModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="fas fa-times"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this Scholarship? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to edit this scholarship?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>
</div> 